.App {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: calc(100vh - 48px);
  padding: 24px;
  justify-content: center;
  align-items: center;
}
.App__title {
  margin: 0 auto 90px;
  font-size: 50px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  color: var(--color-secondary);
}
.App__board {
  display: grid;
  grid-template-columns: 193px 1fr 193px;
  gap: 73px;
}
.App__text {
  color: var(--color-secondary);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.App__span {
  display: block;
  color: var(--color-accent);
}
.App__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 14px;
}
