.App {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: calc(100vh - 48px);
  padding: 24px;
  justify-content: center;
  align-items: center;
}
.App__title {
  margin: 0 auto 90px;
  font-size: 50px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  color: var(--color-secondary);
}
.App__board {
  display: grid;
  grid-template-columns: 193px 1fr 193px;
  gap: 73px;
}
.App__text {
  color: var(--color-secondary);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.App__span {
  display: block;
  color: var(--color-accent);
}
.App__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 14px;
}

/* Стили для карточек */
.card {
  position: relative;
  width: 115px;
  height: 115px;
  cursor: pointer;
}

.card-front,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.7s cubic-bezier(0.2, 0.5, 0.4, 1.275);
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.35);
}

.card-back:hover {
  transform: scale(1.02);
}
.card-front {
  background-color: var(--color-grey);
}
.card-back {
  background-color: var(--color-primary);
}
.card-front img {
  width: 80px;
}
.card-back img {
  width: 60px;
}
.card-front {
  transform: rotateY(180deg);
}

.flipped .card-back {
  transform: rotateY(180deg);
}
.flipped .card-front {
  transform: rotateY(360deg);
}
.card--block {
  position: relative;
  width: 115px;
  height: 115px;
  pointer-events: none;
  cursor: default;
}
.card--hidden {
  transition: 1s;
  visibility: hidden;
}

/* MODAL */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 81px;
  left: -92px;
  width: 685px;
  height: 371px;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.modal-content {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.modal__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 64px;
  border-radius: 12px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}
