.card {
  width: 115px;
  height: 115px;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}
.active {
  background-color: var(--color-grey);
  background-image: none;
  cursor: auto;
}
.untouched {
  background-image: url("../../images/logo.svg");
  background-position: center;
  background-size: 60px 27px;
  background-repeat: no-repeat;
}
.untouched:hover {
  background-color: var(--color-accent);
}
.untouched .card__image {
  display: none;
}
