@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

:root {
  --color-primary: #262a2f;
  --color-secondary: #0083fc;
  --color-accent: #ff5533;
  --color-grey: #868686;
  --color-white: #ffffff;
}

* {
  all: unset;
  display: revert;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  color: var(--color-primary);
}
